<article>  
    <p>
        <!-- le ponemos la funcion que maneja el evento-->
        <label>Elige el orden que deseas:</label> 
        <select name="orden" ng-model="$ctrl.orden">
            <option value="asc">ASC</option>
            <option value="desc">DESC</option>
          </select>
        <br/>
        <label>Elige el genero literario que deseas:</label> 
        <select name="genero" ng-model="$ctrl.genero">
            <option value="asc">ASC</option>
            <option value="desc">DESC</option>
          </select>
        <br/>
        <label>Campos a mostrar:</label> 
        <input type="checkbox" name="pais" value="Pais" ng-model="$ctrl.verPais"> Pais<br>
        <input type="checkbox" name="fechaNacimiento" value="FechaNacimiento" ng-model="$ctrl.verFecha"> Fecha Nacimiento<br>       
    </p>
    
        <h1>Lista de Nombres</h1>
        <ul>
            <li ng-repeat="oAutor in $ctrl.aAutores | filter: $ctrl.genero | orderBy: $ctrl.orden">
                <b>{{oAutor.nombre}} {{oAutor.apellido}}</b>				 
                {{$ctrl.verPais ? ' - ' + oAutor.pais : ''}} 
                {{$ctrl.verFecha ? '- Nacido en ' + (oAutor.fechaNacim | date:'yyyy') : ''}}
                - Genero: <span ng-repeat="genero in oAutor.generos">
                {{ genero }}{{ !$last ? ", " : "."}} <span>
            </li>
        </ul>
    
</article>  