<form name="myform" novalidate ng-submit="$ctrl.enviarFormulario()">
    
    <p>Nombre:</p>
    <p><input type="text" id="nombre" name="nombre"
    ng-model="user.nombre" ng-required="true" ng-minlength="2" ng-model-options=" {updateOn: 'blur'}"></p>
    
    <span class="error-message"ng-show="myform.nombre.$dirty && myform.nombre.$error.required">El nombre es obligatorio</span>
    <span class="error-message"ng-show="myform.nombre.$dirty && myform.nombre.$error.minlength">La longitud debe ser mayor de 2</span>

    <p>
        <button type="submit" ng-disabled="!myform.$valid">Enviar</button>
    </p>

</form>

<div ng-if="$ctrl.isSubmit">
<h1>Resultado</h1>
</div>

