<form>
    <label for="resultado">Imprimir resultado:</label>
    <input id="resultado" type="checkbox" id="resultado" name="resultado" ng-model="$ctrl.opcion.resultado" ng-true-value=("SI") ng-false-value=("NO")   >

    <label for="tono">Tono claro:</label>
    <input id="tono" type="checkbox" id="tono" name="tono" ng-model="$ctrl.opcion.tono" ng-true-value=("SI") ng-false-value=("NO")>
    

    <p>Provincias</p>
    <p>
        <select ng-model = "$ctrl.miProvinciaSeleccionada" ng-options = "provincia as provincia.nombre for provincia in $ctrl.provincias track by provincia.idProvincia">
            <option value="">--Elige opcion--</option>
        </select>
            
    </p>

</form>

<h1>Resultado</h1>
Opcion imprimir {{$ctrl.opcion.resultado}}
<br/>
Opcion tono {{$ctrl.opcion.tono}}
<br/>
Provincia {{$ctrl.miProvinciaSeleccionada}}
